@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html, body {
  @apply min-h-screen bg-zinc-100 text-zinc-900 dark:bg-[#181A1B] dark:text-[#E8E6E3];
}

* {
  scroll-behavior: smooth;
}

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.active {
  color: orangered;
  border-bottom: 3px solid orangered;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.fade-up {
  animation: 1s ease-out fadeUp 0.1s forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-left {
  animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

